In [48]:
import os
import pandas as pd
import yaml
import numpy as np

In [49]:
tgtdir = "../results-sim4/nonlinear/effects"
methods = os.listdir(tgtdir)
nseeds = 10

In [50]:
rows = []
for m in methods:
    for s in range(nseeds):
        try:
            path = f"{tgtdir}/{m}/{s:03d}/effect.yaml"
            with open(path, 'r') as io:
                metrics = yaml.load(io, yaml.SafeLoader)
            metrics.update(dict(seed=s, method=m))
            rows.append(metrics)
        except:
            print(f"failed to load {path}")
df = pd.DataFrame(rows)
df.head()

   ate_error  effect_estimate  seed method
0  -0.605032        -0.505032     0   tsne
1  -0.628968        -0.528968     1   tsne
2  -0.552815        -0.452815     2   tsne
3  -0.557842        -0.457842     3   tsne
4  -0.603637        -0.503637     4   tsne

In [51]:

order = ["pca", "cvae", "crae", "unet", "wx", "local", "avg", "unet_sup", "car", "unet_sup_car", "resnet_sup", "resnet"]
(df
    .groupby("method")
    .agg(
        bias=("ate_error", lambda x: np.abs(x.mean())),
        mse=("ate_error", lambda x: np.sum(np.square(x)))
    )
).round(2).T[order]

method,pca,cvae,crae,unet,wx,local,avg,unet_sup,car,unet_sup_car,resnet_sup,resnet
bias,0.16,0.60,0.21,0.18,0.21,0.59,0.60,0.34,0.60,0.27,0.05,0.18
mse,0.29,3.58,0.47,0.39,0.46,3.54,3.55,1.35,3.58,1.52,0.08,0.36

In [52]:
df.shape

(130, 4)